@function tint($color, $weight: 20%) {
	@return mix(#FFF,$color, $weight);
}
@function shade($color, $weight: 10%) {
	@return mix(#000,$color, $weight);
}

@mixin button-type($type,$bgColor,$color) {
	.nil-btn-#{$type} {
		color:$color;
		background-color: $bgColor;
		border-color:$bgColor;
	}
	
	.nil-btn-#{$type}:focus,
	.nil-btn-#{$type}:hover {
		color: $color;
		background-color: tint( $bgColor, 20% );
		border-color:tint( $bgColor, 20% );
	}
	
	.nil-btn-#{$type}:active {
		color: $color;
		background-color: shade( $bgColor, 10% );
		border-color:shade( $bgColor, 10% );
	}
}

@mixin button-ghost() {
	.nil-btn-ghost {
		background-color: transparent;
	}
	
	.nil-btn-ghost:focus,
	.nil-btn-ghost:hover {
		background-color: transparent;
	}
	
	.nil-btn-ghost:active {
		background-color: transparent;
	}
}

@mixin button-dashed($bgColor) {
	.nil-btn-dashed {
		border-style:dashed;
		background-color: transparent;
	}

	.nil-btn-dashed:focus,
	.nil-btn-dashed:hover {
		background-color: tint( $bgColor, 50% );
	}
	
	.nil-btn-dashed:active {
		background-color: shade( $bgColor, 1% );
	}
}

$height: 28px !default;
$smallHeight: 22px !default;
$largeHeight: 32px !default;
$borderRadius: 3px !default;

//按钮默认样式风格
$defaultBorderColor: #dddee1;//#ccc  #B0B0B0
$defaultColor: #495060;
$defaultBGColor: #f7f7f7;

$defaultHoverColor: #495060; //#E0E0E0 #FAFAFA 
$defaultHoverBGColor: mix(#FFF,$defaultBGColor, 30%);
$defaultHoverBorderColor: #dddee1;

$defaultActiveColor: #495060;
$defaultActiveBGColor: mix(#000,$defaultBGColor, 5%);  //#d4d4d4 #EFEFEF
$defaultActiveBorderColor: #dddee1;

//dashed按钮风格
$dashedColor: $defaultBorderColor;

//按钮样式风格
$primaryBGColor: #2d8cf0;
$dangerBGColor: #ed3f14;
$warningBGColor: #f90;
$successBGColor: #19be6b;
$infoBGColor: #2db7f5;


//disabled样式
$disabledColor: #bbbec4;
$disabledBGColor:#f7f7f7;
$disabledBorderColor:#dddee1;
$disabledCursor:not-allowed;

.nil-btn {
    display: inline-block;
    cursor: pointer;
	//box-sizing: border-box;
    white-space: nowrap;
    text-decoration: none;
    overflow: hidden;
    position: relative;
	margin-bottom:0;
	height:$height;
	padding: 0 15px;
	touch-action:manipulation;
	border:1px solid $defaultBorderColor;
	line-height: normal;
	font-weight:500;
	font-size:12px;
	background: $defaultBGColor;
	color: $defaultColor;
	position: relative;
	user-select:none;
	vertical-align: middle;
	border-radius: $borderRadius;
	transition: all .3s;

	@at-root {
		.nil-btn,
		.nil-btn:active,
		.nil-btn:focus {
			outline:0
		}

		.nil-btn-radius {
			border-radius: $borderRadius;
		}

		.nil-btn-block {
			display:block;
			width:100%;	
		}
		
		.nil-btn-block+.nil-btn-block {
			margin-top: 5px;
		}
		
		.nil-btn:not(.nil-btn-block)+.nil-btn:not(.nil-btn-block) {
			margin-left: 5px;
		}		

		.nil-btn:focus,
		.nil-btn:hover {
			color:$defaultHoverColor;
			background-color:$defaultHoverBGColor;
			border-color:$defaultHoverBorderColor;
		}

		.nil-btn:active{
			color:$defaultActiveColor;
			background-color:$defaultActiveBGColor;
			border-color:$defaultActiveBorderColor;
		}

		.nil-btn-disabled > *,
		.nil-btn[disabled] > * {
			pointer-events:none
		}

		.nil-btn-small {
			height:$smallHeight;
			padding-left: 5px;
			padding-right: 5px;
		}

		.nil-btn-large {
			height:$largeHeight;
		}

		@include button-type(danger, $dangerBGColor, #FFF);
		@include button-type(success, $successBGColor, #FFF);
		@include button-type(warning, $warningBGColor, #FFF);
		@include button-type(info, $infoBGColor, #FFF);
		@include button-dashed($defaultBGColor);
		@include button-ghost();
		
		//disabled样式
		.nil-btn.nil-btn-disabled,
		.nil-btn[disabled],
		.nil-btn:disabled,
		.nil-btn-disabled:active,
		.nil-btn-disabled:hover,
		.nil-btn[disabled]:active,
		.nil-btn[disabled]:hover {
			color:$disabledColor;
			background-color:$disabledBGColor;
			border-color:$disabledBorderColor;
			cursor:$disabledCursor;
		}

	}

	> .nil-icon+.nil-btn-text, 
	> .nil-btn-text+.nil-icon{
		margin-left: 6px;
	}
}

.nil-btn-icon-only {
	padding-left:8px;
	padding-right:8px
}

.nil-btn-icon {
    vertical-align: baseline;
    background-position: center center;
    background-repeat: no-repeat;
	display: inline-block;
    font-style: normal;
    text-align: center;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nil-btn>.nil-btn-icon+.nil-btn-text, .nil-btn>.nil-btn-text+.nil-btn-icon {
    margin-left: 3px;
}

.nil-btn-text {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 100%;
}

.nil-btn-group {
	position:relative;
	display:inline-block
}
.nil-btn-group>.nil-btn {
	position:relative;
	z-index:1
}
.nil-btn-group>.nil-btn.active,.nil-btn-group>.nil-btn:active,.nil-btn-group>.nil-btn:focus,.nil-btn-group>.nil-btn:hover {
	z-index:2
}
.nil-btn-group>.nil-btn:disabled {
	z-index:0
}

.nil-btn-group .nil-btn+.nil-btn {
	margin-left:-1px
}
.nil-btn-group .nil-btn:not(:first-child):not(:last-child) {
	border-radius:0;
}
.nil-btn-group>.nil-btn:first-child {
	margin-left:0
}
.nil-btn-group>.nil-btn:first-child:not(:last-child) {
	border-bottom-right-radius:0;
	border-top-right-radius:0;
}
.nil-btn-group>.nil-btn:last-child:not(:first-child) {
	border-bottom-left-radius:0;
	border-top-left-radius:0;
}
// .nil-btn-group .nil-btn-primary:not(:first-child):not(:last-child) {
// 	border-right-color:map-get($typeMap, "primaryHoverBGColor");
// 	border-left-color:map-get($typeMap, "primaryActiveBGColor");
// }
// .nil-btn-group .nil-btn-primary:not(:first-child):not(:last-child):disabled {
// 	border-color:$disabledBorderColor
// }
// .nil-btn-group .nil-btn-primary:first-child:not(:last-child) {
// 	border-right-color:map-get($typeMap, "primaryActiveBGColor");
// }
// .nil-btn-group .nil-btn-primary:first-child:not(:last-child)[disabled] {
// 	border-right-color:$disabledBorderColor
// }
// .nil-btn-group .nil-btn-primary+.nil-btn-primary,.nil-btn-group .nil-btn-primary:last-child:not(:first-child) {
// 	border-left-color:map-get($typeMap, "primaryActiveBGColor");
// }
.nil-btn-group .nil-btn-primary+.nil-btn-primary[disabled],.nil-btn-group .nil-btn-primary:last-child:not(:first-child)[disabled] {
	border-left-color:$disabledBorderColor
}